<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564966309800-l7is4uaqtl0d5h47utevbggnujehsdmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564966309800-l7is4uaqtl0d5h47utevbggnujehsdmg</string>
	<key>API_KEY</key>
	<string>AIzaSyCB4VI6K1clhUTQ-ogRjpgSo5DUHCow9Es</string>
	<key>GCM_SENDER_ID</key>
	<string>564966309800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>atwah.Control-Your-Pharmacy</string>
	<key>PROJECT_ID</key>
	<string>atwah-def66</string>
	<key>STORAGE_BUCKET</key>
	<string>atwah-def66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564966309800:ios:0485622339d74b18</string>
	<key>DATABASE_URL</key>
	<string>https://atwah-def66.firebaseio.com</string>
</dict>
</plist>